@charset "utf-8";
/* CSS Document */

@font-face { 
    font-family: Acme;             /* define una fuente */
	src: url('fonts/acme.ttf');  /* indica su ubicación */
}
@font-face { 
    font-family: HappySans;             /* define una fuente */
	src: url('fonts/happysans.ttf');  /* indica su ubicación */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	font-family: Acme;
	background-color: rgba(119, 118, 118, 0.1);
}

header{
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 60;
}

header ul{
	text-align: left;
	margin: 0;
	padding: 0;
	z-index: 50;
}

header ul li{
	list-style: none;
	display: inline-block;
}

header ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 600;
	padding: 12px;
}

header ul li a:hover{
	background-color: rgba(226, 250, 7, 0.5);
}

/* elementos del menu desplegable*/
#btn-menu {
    display: none;   /* oculta el checkbox cuando no es necesario*/
} 
header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
} 
header label:hover {
    cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
}

.container1{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("archivos/lavecindad.jpg");
  min-height: 500px;
}

.container1 .chavo{
	position: relative;
	top: 70px;
	left: 5%;
	height: 400px;
}

.container1 .title{
	position: relative;
	font-family: HappySans;
	font-size: 4em;
	color: #fff;
	padding: 0% 2% 0% 2%;
	left: 5%;
	max-width: 80%;
}

/*Este elemento agrupa todo el contenido y lo centra en la ventana*/
article{
	max-width: 840px;
	margin: auto; 
	margin-bottom: 20px;
}

article .column{
	float: left;
	width: 50%;
	padding: 10px;
	height: auto;
}

article .row:after{
  	content: "";
  	display: table;
  	clear: both;
}

@media screen and (max-width: 860px) {
	header{
		display: flex;
		align-items: center;
		width: 20%;
		height: 100%;
		background-color:rgba(241, 198, 2, 1);
	}
	article{
		padding-left: 22%;
	}
	header ul{
	  flex-direction: column;
	}
	header ul li a{
		font-size: 16px;
		padding: 10px;
	}
	.container1 .title{
		left:25%;
		display:flexbox;
		font-size: 3em;
		max-width: 70%;
		margin-right: 20%;
	}
	.container1 .chavo{
	  display: block;
	  position: relative;
	  left:60%
  }
	article .column{
		line-height: 1.8; 
	}
}

@media screen and (max-width: 640px) {
  header{
	display: block;
	align-items: none;  
	position: fixed;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.5);
  }
  article{
	position: relative;
	padding-left: 2%;
	margin: auto;
  }
  .container1 .title{
	  left:0%;
	  margin-right: 0px;
  }		
  article .column{
	margin: auto;
    width: 100%;
  }
  header ul{
	  display: flex;
	  flex-direction: column;
  }
  nav{
	position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
	float:right;
	background-color: rgba(0,0,0,0.5);
    width: 40%; /* se refiere al ancho del fondo del menu y no a los botones */
    margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
	margin-top: 15%;
	transition: all 1s;   /* la animación de desplegar el menu dura 1 segundo*/
  }
  
  header label{
	  display: block;
  }

  #btn-menu{
	position: absolute;
	top: 0px;
  }
	
  #btn-menu:checked ~ nav {  /* el checkbox controla las dos posiciones del menu */
		margin-left: 1px;
  }
}
h1{
	font-size: 2.5em;
	margin-top: 9px;
	margin-bottom: 9px;
}

p{
	font-size: 1.2em;
	margin-top: 7px;
	margin-bottom: 7px;
}

/*Centra el elemento iframe*/
iframe{
	display:block;
	margin:auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.character,.activity{
	display: block;
	max-width: 70%;
	height:auto;
	margin:auto;
	border-radius: 8px;
}

.event{
	display: block;
	max-width: 70%;
	height:auto;
	margin:auto;
	border-radius: 8px;
}

.mapa,table{
	width: 100%;
	margin: 20px auto;
}

.gmap{
	width: 80%;
	height: 400px;
	border: 0;
}

td,th{
  border: 1px solid #ddd;
  padding: 8px;
}

th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color:  rgb(247, 223, 14);
	color: white;
}

tr:nth-child(even){
	background-color: gainsboro;
}

tr:hover{
	background-color: rgb(226, 250, 7);
}
