@charset "utf-8";
/* CSS Document */

@font-face { 
    font-family: Acme;             /* define una fuente */
	src: url('archivos/Acme.ttf');  /* indica su ubicación */
}
@font-face { 
    font-family: HappySans;             /* define una fuente */
	src: url('archivos/HappySans.ttf');  /* indica su ubicación */
}

*{
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body{
	font-family: Acme;
	background-color: rgba(119, 118, 118, 0.1);
}

.header{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header ul{
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header ul li{
	list-style: none;
	display: inline-block;
}

.header ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 600;
	padding: 18px;
}

.header ul li a:hover{
	background-color: rgba(226, 250, 7, 0.5);
}

.container1{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("archivos/lavecindad.jpg");
  min-height: 500px;
}

.container1 .character{
	position: relative;
	top: 70px;
	left: 10%;
	height: 400px;
}

.container1 .title{
	position: relative;
	font-family: HappySans;
	font-size: 4em;
	color: #fff;
	padding: 0% 2% 0% 2%;
	left: 20%;
	max-width: 80%;
}

.article{
	border: 2px solid black;
	margin: 10px 7% 2% 7%;
	padding: 10px 40px 20px 10px;
}

.row{
	opacity: 1;
	display:flex;
}

.column{
	flex: 50%;
	padding: 10px;
}

h1{
	padding-left: 20px;
}